####GIT忽略文件####

#忽略文件夹
bak/*
Docs/bak/*
Code/bak/*
Code/Include/bak/*
doxygen

#文件类型
*.7z
*.rar
*.zip
*.log

#Examples
Examples/CortexM3_Test/Debug/*
Examples/CortexM3_Test/DebugConfig/*
Examples/CortexM3_Test/CortexM3_Test.uvguix.*
Examples/CortexM3_Test/.vscode/uv4.log.lock
Examples/CortexM3_Test/EventRecorderStub.scvd
