####GIT忽略文件####

#忽略文件夹
src/bak/*

#文件类型
*.7z
*.rar
*.zip
*.log

#examples
examples/CortexM3_Test/Debug/*
examples/CortexM3_Test/DebugConfig/*
examples/CortexM3_Test/CortexM3_Test.uvguix.*
examples/CortexM3_Test/.vscode/uv4.log.lock
examples/CortexM3_Test/EventRecorderStub.scvd
